
.table-flex-container {
    display: flex;
    flex-direction: column;
    width: 94%; 
   
}

.table-headers-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans';

    
    
}

#name-header {
    padding-top: 0.8%;
    border: solid black 1px;
    width: 40%;
   
    
}

#rarity-header {
    padding-top: 0.8%;
    border: solid black 1px;
    width: 20%;
    
    
}

#level-header {
    padding-top: 0.8%;
    border: solid black 1px;
    width: 20%;
    
}

#caps-header {
    padding-top: 0.8%;
    width: 20%;
    border: solid black 1px;
    
}


.card-flex-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-weight: bold;
    flex-shrink: 2;
}

input {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.card-name {
    border: solid black 1px;
    width: 40%;
    min-width: 0;
    font-size: 70%;
   
}

.card-level {
    border: solid black 1px;
    width: 20%;
    text-align: center;
    
}

.card-rarity {
    border: solid black 1px;
    width: 20%;
    text-align: center;
    
}

.caps-required {
    border: solid black 1px;
    text-align: center;
    width: 20%;
    padding-top: 0.8%;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template: 1fr 4fr 0.1fr 0.5fr 1fr/3.5fr 1.5fr;
    grid-template-areas: 
    ". ."
    "grid-table grid-img"
    ". . "
    "resultados ."
    "button-container .";
}

.image-flex-container {
    display: flex;
    grid-area: grid-img
    
}

.grid-img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    border: solid black 0px;
    margin: 0 20% 20% 0;
    object-position: 80% 10%;
    flex-shrink: 0;
    
}

.grid-table {
    grid-area: grid-table;

}



.button-flex-container {
    display: flex;
    grid-area: button-container;
    
}


.calculate-button {
    background: linear-gradient(90deg,rgba(192, 192, 192, 0.733), #808b96, #566573);
    height: 50%;
    width: 35%;
    border-radius: 10px;
    color: whitesmoke;
    text-shadow: 2px 2px 0 #000;
    margin-top: 3%;
    font-size: large;  
}


.resultados {
    display: flex;
    justify-content: space-evenly;
    grid-area: resultados;
    width: 30%;
    font-size: 110%;
}

.resultados-item {
    border: black solid 1px;
    flex-basis: 50%;
    text-align: center;
    padding-top: 5%;  
}

#encabezado-resultado {
    background-color: black;
    border: black solid 1px;
    color: white;
    font-weight: bold;
    font-family:'Lucida Sans';
    padding: 5% 3% 0 3%;
}

#resultado {
    background-color: white;
    font-weight: bold;
}

body {
    background-color: rgb(37, 90, 114);
}

